:root {
    --space: .3rem;
    --size: 78px;
    --btn-color: ghostwhite;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 800px;
    height: 780px;
    background-color: #1034a6;
    border: 2px solid black;
    
    display: grid;
    grid-template-columns: 6fr 1fr 6fr;
    padding: 1rem 1rem 0 1rem;
    gap: 1rem;
}

.left-container {
    display: grid;
    grid-template-rows: repeat(9, var(--size));
    gap: var(--space);
    
}

.field {
    background-color: cornflowerblue;
    border: 1px solid navy;
}

.fld-hover:hover {
    opacity: 0.8;
}

.left-row {
    display: grid;
    grid-template-columns: repeat(5, var(--size));
    gap: var(--space);
}

.right-container {
    display: grid;
    gap: var(--space);
}

.right-above-container {
    display: grid;
    grid-template-rows: repeat(6, var(--size));
    gap: var(--space);
}

.right-bottom-container {
    display: grid;
    grid-template-rows: repeat(2, 100px);
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space);
}

.right-row {
    display: grid;
    grid-template-columns: repeat(4, var(--size));
    gap: var(--space);
}

div#answer {
    grid-row: 8/9;
}

div#start {
    grid-row: 9/10;
    margin-top: 10px;
}

#start-btn {
    grid-column: 1/5;
}

.center-container {
    display: grid;
    grid-template-rows: repeat(9, var(--size));
    gap: var(--space);
}

.timer {
    grid-row: 1/7;
    background-color: ghostwhite;
}

.btn {
    background-color: var(--btn-color);
    border: 1px solid var(--btn-color);
    text-transform: uppercase;
}

.btn:hover {
    /*background-color: rgb(236, 230, 241);*/
    opacity: 0.9;
}

#pik {
    background-image: url('../images/Pik.png');
    background-size: cover;
}

#karo {
    background-image: url('../images/Karo.png');
    background-size: cover;
}

#herc {
    background-image: url('../images/Herc.png');
    background-size: cover;
}

#skocko {
    background-image: url('../images/Skocko.png');
    background-size: cover;
}

#zvezda {
    background-image: url('../images/Zvezda.png');
    background-size: cover;
}

#tref {
    background-image: url('../images/Tref.png');
    background-size: cover;
}